@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
/*font-family: 'Great Vibes', cursive;*/
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
header {
  width: 100%;
  background: linear-gradient(
    45deg,
    rgba(183, 222, 237, 1) 0%,
    rgba(113, 206, 239, 1) 50%,
    rgba(33, 180, 226, 1) 51%,
    rgba(183, 222, 237, 1) 100%
  );
  font-size: 25px;
}
.container {
  display: flex;
  background: rgb(34, 193, 195);
  background: -moz-radial-gradient(
    circle,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#22c1c3",endColorstr="#fdbb2d",GradientType=1);
  flex-wrap: wrap;
}
.flexbox-item {
  width: 200px;
  margin: 10px;
  border-radius: 5px;

  background: rgb(34, 193, 195);
  background: -moz-radial-gradient(
    circle,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#22c1c3",endColorstr="#fdbb2d",GradientType=1);
}
ul {
  list-style-type: none;
}

.item2 {
  display: flex;
  flex-direction: column;
  min-height: 50px;
  width: 20%;
  align-items: center;
}
.item2 li {
  padding: 10px;
  margin: 7px 0;
  cursor: pointer;
  transition: transform 2s, fontStyle 3s;
}
.item2 li:hover {
  font-style: italic;
  transform: scale(1.3);
}
.item3 {
  min-height: 100px;
  flex: 1;
}
.elements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}
.element {
  border: 1px black solid;
  border-radius: 25px;
  margin: 5px;
  transform: perspective(600px) rotateY(+30deg);
  transition: transform 1s;
}
.element img {
  display: flex;
  width: 150px;
  height: 100px;
  justify-content: center;
  align-content: center;
  border-radius: 25px 25px 0 0;
}
.element {
  font-size: 14px;
  text-align: center;
}

button {
  background-color: #44c767;
  background-image: linear-gradient(
    to right,
    #16a085 0%,
    #f4d03f 51%,
    #16a085 100%
  );
  border-radius: px;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: black;
  font-family: Arial;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
  outline: none;
}
button:hover {
  background-position: right center;
}
button:active {
  position: relative;
  top: 1px;
}

header h1 {
  font-family: 'Great Vibes', cursive;
  /* color: #1abc9c; */
  color: #16a085;
}

.episodeContainer {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  justify-content: space-around;
  margin-left: 90px;
  align-content: space-between;
}

.episodeElement {
  width: 20%;
  margin: 5px;
  flex-direction: column;
  border: 1px solid rgb(151, 15, 15);
  padding: 10px;
  border-radius: 10px;
  color: cornsilk;
  font-size: 20px;
  background-color: #16a085;
  transform: perspective(600px) rotateY(+30deg);
  transition: transform 0.5s;
}
